<form>

  <legend>Create a new Post</legend>
  <div class="mb-3">
    <label for="inputRecepieName" class="form-label">Recepie Name</label>
    <input
      type="text"
      id="recepieNameTextInput"
      class="form-control"
      placeholder="Recepie Name"
    />
  </div>
  <div class="mb-3">
    <label for="inputRestaurant" class="form-label">Restaurant Name</label>
    <input
      type="text"
      id="RestaurantNameTextInput"
      class="form-control"
      placeholder="Restaurant Name"
    />
  </div>
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile02" />
    <label class="input-group-text" for="inputGroupFile02">Image</label>
  </div>
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile02" />
    <label class="input-group-text" for="inputGroupFile02">Upload</label>
  </div>
  <div class="mb-3">
    <label for="disabledSelect" class="form-label">Disabled select menu</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">Meat</option>
      <option value="2">Chicken</option>
      <option value="3">Fish</option>
      <option value="4">Dessert</option>
      <option value="5">Salad</option>
      <option value="6">Fruits</option>
      <option value="7">Vegetables</option>
      <option value="8">Vegan</option>
      <option value="9">Vegetarian</option>
      <option value="10">Gluten free</option>
      <option value="11">Pasta</option>
      <option value="12">Other</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>