<div>
    <img src="{{post.image}}" class="card-img-top" alt="...">
       <p>{{post.user.username}}</p>
    <h5 class="card-title">{{post.name}}</h5>
    <p class="card-text">{{post.restaurant}}</p> 
</div> 
<form action="#" method="POST">

</form>