<form action="/profile/edit/{{user._id}}" method="POST">

  <legend>Edit Profile</legend>
  <div class="mb-3">
    <label for="name" class="form-label">User Name</label>
    <input
      value="{{user.username}}"
      type="text"
      name="username"
      id="userNameTextInput"
      class="form-control"
      placeholder="User Name"
    />
  </div>
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile02" />
    <label class="input-group-text" for="inputGroupFile02">Profile Image</label>
  </div>
  <div class="mb-3">
    <label for="bio" class="form-label">Bio</label>
    <textarea
      rows="5"
      cols="50"
      type="text"
      name="bio"
      id="EmailTextInput"
      class="form-control"
      placeholder="Type your Bio">{{user.bio}}</textarea>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
  <a href="#" class="btn btn-primary">Delete Accont</a>
</form>