<div class="profile-page">
    <div class="container profile-container">
        <h1>{{currentUser.username}}</h1>

        <img class="profile-image" src="https://picsum.photos/150" alt="Profile Image">

        <div class="text-center">
            <i class="fas fa-user-circle"></i>
        </div>

        <h2>Email: {{currentUser.email}}</h2>
    </div> 
</div> 
<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each user.posts}}
      {{>card this}}
    {{/each}}
  </div>
</div>